<section data-bs-version="5.1" class="footer3 cid-v1B3BQ7KLN" once="footers" id="footer3-23">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    <li class="foot-menu-item mbr-fonts-style display-7"><a href="https://oxglp.com/#top" class="text-success">Home</a></li>
                    <li class="foot-menu-item mbr-fonts-style display-7"><a href="https://oxglp.com/#features1-1" class="text-success">Sobre</a></li>
                    <li class="foot-menu-item mbr-fonts-style display-7"><a href="https://oxglp.com/#form4-6" class="text-success">Contato</a></li>
                </ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    <div class="soc-item"><a href="https://www.instagram.com/mounjarobr" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span></a></div>
                    <div class="soc-item"><a href="https://www.facebook.com/search/top/?q=Tirzepatida" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span></a></div>
                    <div class="soc-item"><a href="https://www.youtube.com/results?search_query=Tirzepatida" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span></a></div>
                </div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-4">
                    © {{ "now" | date: "%Y" }} OXGLP®. Revolução do emagrecimento.
                </p>
            </div>
        </div>
    </div>
</section>