<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="{{ page.image | default: 'assets/images/blog-meta.jpg' | relative_url }}">
  <meta property="og:image" content="{{ page.image | default: 'assets/images/blog-meta.jpg' | relative_url }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.png' | relative_url }}" type="image/x-icon">
  
  <link rel="stylesheet" href="{{ 'assets/web/assets/mobirise-icons2/mobirise2.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap.min.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap-grid.min.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap-reboot.min.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/dropdown/css/style.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/socicon/css/styles.css?v=251106' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/theme/css/style.css?v=251106' | relative_url }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="{{ 'assets/mobirise/css/mbr-additional.css?v=251106?v=251106' | relative_url }}"><link rel="stylesheet" href="{{ 'assets/mobirise/css/mbr-additional.css?v=251106?v=251106' | relative_url }}" type="text/css">
  <style>iframe, img { border-radius: 8px; }</style>
  
  {% include analytics.html %}
  
</head>