<script src="{{ 'assets/bootstrap/js/bootstrap.bundle.min.js?v=251106' | relative_url }}"></script>
<script src="{{ 'assets/smoothscroll/smooth-scroll.js?v=251106' | relative_url }}"></script>
<script src="{{ 'assets/ytplayer/index.js?v=251106' | relative_url }}"></script>
<script src="{{ 'assets/dropdown/js/navbar-dropdown.js?v=251106' | relative_url }}"></script>
<script src="{{ 'assets/theme/js/script.js?v=251106' | relative_url }}"></script>
<script src="{{ 'assets/formoid/formoid.min.js?v=251106' | relative_url }}"></script>