<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="{{ page.image | default: 'assets/images/blog-meta.jpg' | relative_url }}">
  <meta property="og:image" content="{{ page.image | default: 'assets/images/blog-meta.jpg' | relative_url }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.png' | relative_url }}" type="image/x-icon">
  
  <meta name="description" content="{{ page.description | default: site.description }}">
  
  <title>{{ page.title | default: site.title }}</title>
  
  <link rel="stylesheet" href="{{ 'assets/web/assets/mobirise-icons2/mobirise2.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap-grid.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap-reboot.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/dropdown/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/socicon/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/theme/css/style.css' | relative_url }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="{{ 'assets/mobirise/css/mbr-additional.css?v=bygIqD' | relative_url }}"><link rel="stylesheet" href="{{ 'assets/mobirise/css/mbr-additional.css?v=bygIqD' | relative_url }}" type="text/css">
    <style>
    iframe, img { border-radius: 8px; }
  </style>
  {% include analytics.html %} 
</head>
<body>

<section data-bs-version="5.1" class="menu menu2 cid-v1B3BJWyzg" once="menu" id="menu2-1q">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{ '/' | relative_url }}">
                        <img src="{{ 'assets/images/favicon.png' | relative_url }}" alt="OXGLP®" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-warning display-7" href="{{ '/' | relative_url }}">OXGLP®<br></a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="{{ '/' | relative_url }}">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link link text-black text-primary dropdown-toggle show display-4" href="{{ '/#features1-1' | relative_url }}" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">Sobre</a><div class="dropdown-menu show" aria-labelledby="dropdown-562" data-bs-popper="none"><a class="text-black text-primary dropdown-item display-4" href="{{ '/#features1-1' | relative_url }}">OXGLP</a><a class="text-black text-primary dropdown-item display-4" href="{{ '/#form4-6' | relative_url }}">Comunidade</a></div></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="{{ '/#content16-a' | relative_url }}">FAQ</a></li>
                </ul>
                <div class="icons-menu">
                    <a class="iconfont-wrapper" href="https://www.facebook.com/search/top/?q=Tirzepatida" target="_blank"><span class="p-2 mbr-iconfont socicon-facebook socicon"></span></a>
                    <a class="iconfont-wrapper" href="https://oxglp.com/gzap.html" target="_blank"><span class="p-2 mbr-iconfont socicon-whatsapp socicon"></span></a>
                    <a class="iconfont-wrapper" href="https://www.instagram.com/mounjarobr" target="_blank"><span class="p-2 mbr-iconfont socicon-instagram socicon"></span></a>
                </div>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-warning display-4" href="{{ '/#header1-8' | relative_url }}"><span class="mobi-mbri mobi-mbri-cart-add mbr-iconfont mbr-iconfont-btn"></span>Comprar</a></div>
            </div>
        </div>
    </nav>
  </section>

  {{ content }}
  <section data-bs-version="5.1" class="form4 cid-v1B3BPkN1R mbr-fullscreen" id="form4-21">
    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-4 offset-lg-1 mbr-form" data-form-type="formoid">
                </div>
            <div class="col-lg-6 offset-lg-1 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="{{ 'assets/images/img-formulario.jpg' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="footer3 cid-v1B3BQ7KLN" once="footers" id="footer3-23">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="{{ '/#header11-1' | relative_url }}" class="text-success">Home</a></li>
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="{{ '/#features1-1' | relative_url }}" class="text-success">Sobre</a></li>
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="{{ '/#form4-6' | relative_url }}" class="text-success">Contato</a></li>
                </ul>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-4">
                    © {{ "now" | date: "%Y" }} OXGLP®. Revolução do emagrecimento.
                </p>
            </div>
        </div>
    </div>
  </section>
  
  <script src="{{ 'assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>  
  <script src="{{ 'assets/smoothscroll/smooth-scroll.js' | relative_url }}"></script>  
  <script src="{{ 'assets/ytplayer/index.js' | relative_url }}"></script>  
  <script src="{{ 'assets/dropdown/js/navbar-dropdown.js' | relative_url }}"></script>  
  <script src="{{ 'assets/theme/js/script.js' | relative_url }}"></script>  
  <script src="{{ 'assets/formoid/formoid.min.js' | relative_url }}"></script>  
</body>
</html>