---
layout: default
---
<section data-bs-version="5.1" class="image1 cid-v1GKz6eDpQ" id="image1-27-post">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <div class="image-wrapper">
                    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4">{{ page.title }}</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>{{ page.title }}</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">{{ page.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content5 cid-v1B6QhAto8" id="content5-26-post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="mbr-text mbr-fonts-style display-4">
                  {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content2 cid-v1B4p9OVbT" id="content2-24-post">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Mais lidos do blog.</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Leia as postagens recentes do blog sobre:</h5>
        </div>
        <div class="row mt-4">

            {% for post in site.posts limit: 4 %}
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="{{ post.url | relative_url }}">
                            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" title="{{ post.title }}">
                        </a>
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <a href="{{ post.url | relative_url }}" style="text-decoration: none; color: inherit;">
                                <strong>{{ post.title }}</strong>
                            </a>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">{{ post.description | default: post.excerpt }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
    </div>
</section>